{% extends "books/layout.html" %}
{% load static %}

{%  block body %}
    <link rel="stylesheet" href="{% static 'css/book.css' %}">
    <script src="{% static 'js/book.js' %}"></script>
    <div class="ImportantInfo">
        <div class="Image">
            <img src="{{ book.img_url }}" alt="bookcover">
        </div>
        <div class="Info">
            <div class="bookTitle">
                 <p>{{ book.bookname }}</p>
            </div>
            <div class="booKAuthor">
                <P>{{ book.authorName }}</P>
            </div>
            <div class="bookPrice">
                <span id="price">{{ book.price }}</span>
                <select id="Currency">
                    <option id="USD">USD</option>
                    <option id="NZD">NZD</option>
                </select>
            </div>

        </div>

    </div>
    <div class="Brief">
        <p>{{ book.brief }}</p>
    </div>


{% endblock %}