{% extends "books/layout.html" %}
{% load static %}

{% block body %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <h1>Books</h1>
    <hr class="solid">
    <div class="container">
        {% for book in books %}
            <div class="book">
                <div class="img">
                    <a href="{% url 'book' book.id %}">
                        <img src="{{ book.img_url }}" alt="bookcover">
                    </a>
                </div>
                <div class="bookTitle">
                    <a href="{% url 'book' book.id %}">
                        {{ book.bookname }}
                    </a>
                </div>
                <div class="booKAuthor">
                    <a href="{% url 'book' book.id %}">
                        {{ book.authorName }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}