{% extends "books/layout.html" %}
{% load static %}

{% block body %}
    <link rel="stylesheet" href="{% static 'css/book.css' %}">
    <h1>Books</h1>
    <hr class="solid">
    {% for book in books %}
        <div class="img">
            <img src="{{ book.img_url }}">
        </div>
        <div class="bookInfo">
            <li>
            <a href="{% url 'book' book.id %}">
                Book {{ book.id }}: {{ book.bookname }} WrittenBy {{ book.authorName }}
            </a>
        </li>
        </div>

    {% endfor %}

{% endblock %}