.bookTitle {
    font-weight: bold;
    text-align: left;
    font-size: 20px;
}

.booKAuthor {
    text-align: left;
    font-size: 20px;
}

.bookPrice {
    text-align: left;
    font-size: 30px;
    color: #c80600;
}

.ImportantInfo {
    display: grid;
    grid-template-columns: 400px 1fr;
}
.Image {
    margin-left: 20px;
}

.Info {

}